.training-energy-page .en-energy-hero__img{height:520px;}

.training-energy-page .en-energy-division-panel__left h3{margin-top:0.25rem;}

@media (max-width:1024px){
  .training-energy-page .en-energy-hero__img{height:380px;}
}

